h1 {
    font-family: 'Helvetica', sans-serif;
    color: orangered;
    font-size: 40px;
}

h2 {
    font-family: 'Arial', sans-serif;
}

ul, ol {
    font-family: monospace, sans-serif;
}

/*** About Styles ***/
#about {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
}

#about section h2 {
    padding-right: 0px;
}

#about section p {
    width: 30vw;
    font-size: 20px;
    padding-right: 0px;
    font-family: sans-serif;
    line-height: 25px;
}

#about img {
    padding-right: 10vw;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#major {
    padding-right: 20vw;
    padding-left: 10vw;
}

#major ul {
    display: flex;
}

#major ul li {
    padding-right: 40px;
}

#minor ol {
    display: flex;
}

#minor ol li {
    padding-right: 40px;
}

@media only screen and (max-width: 868px) {
    #major {
        padding-right: 5vw;
    }
}
